.banner-jumbotron {
  width: 15%;
  padding: 15px;
  float: left;
}

.bannerBg {
  height: 100px;
  width: 100%;
  background-color: #262626;
}

.hackGT {
  float: right;
  width: 10%;
}

.centerTitle {
  text-align: center;
  color: #b4a465;
}

#myCarousel {
  width: 60%;
  height: 90%;
  margin: auto;
}

.chat-body {
  height: 355px;
}

.frame {
  margin: 100px;
}
